POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=knowledge_base_rag

JWT_SECRET_KEY=your-super-secret-key-change-this-in-production
JWT_ALGORITHM=HS256

ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin
ADMIN_DELETE_TOKEN=admin-delete-token

CHROMADB_PATH=data/chromadb
CHROMADB_COLLECTION=docs_fast

MODEL_NAME=BAAI/bge-base-en-v1.5

GEMINI_API_KEY=your_gemini_api_key_here

TGBOT_TOKEN=your_telegram_bot_token
ALLOWED_USERS=[123456789]

TORCH_URL=https://pytorch.org/docs/stable/
PATH_TO_SAVE=data/dataset
